body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
    font-style: normal;
}

.header {
    background: #FFFFFF;;
}

.logo-nav {
    color: #2196F3;
}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
}
    
.menu-header {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    }
 
.contact {
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
}

.email {
color: #2196F3;
}

.telefone {
color: #757575;
}

.main-title {
    background: #2F303A;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

/*Button*/
.button {
    background: #2196F3;
    color: #ffffff;
}
